@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 60px 0; }

.contenedor-textos {
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.parrafo-info {
  color: black; }

h1 {
  font-size: 40px; }

.h4-info {
  color: black; }

body {
  font-family: "montserrat", sans-serif; }

.logo-atrox {
  display: block; }

.logo {
  width: 150px;
  margin-left: 20px; }

.header--descargar__app {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/fondonegro.jpg); }
  .header--descargar__app .descargar__app__button {
    display: flex;
    align-items: center;
    justify-content: center; }

.header__contacto {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/fondonegro.jpg); }

.header__comunidad {
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
=======
  background-image: url(../elementos/fondonegro.jpg);
>>>>>>> 0f697b10da1bcd77b14a44c9270d0dacf2011be7
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/fondonegro.jpg); }
  .header__comunidad .form-check-label {
    display: flex;
    align-items: flex-start; }

.header__inscribite {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/fondonegro.jpg); }

.header__info {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/fondonegro.jpg); }

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../elementos/bkn2.png); }

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

h2 {
  color: #fa3d0e; }

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer; }

.button__home {
  margin-top: 80px;
  text-decoration: none; }

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all 1s; }

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 1s; }

.nav-menu li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none; }

.nav-menu li a.active, .nav-menu li a:hover {
  color: #fa3d0e;
  transition: .3s; }

/*Home*/
#check {
  display: none; }

#check:checked ~ .nav-menu {
  height: 100vh; }

#check:checked ~ .nav-menu li {
  display: block; }

.banner__text {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff; }

.banner__text h1 {
  font-size: 50px;
  margin-bottom: 30px; }

.banner__text span {
  color: #fa3d0e; }

.banner__text h2 {
  font-size: 30px;
  font-weight: 600; }

.button1 {
  margin-right: 40px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #f80808;
  color: #fff; }

.button1:hover {
  background-color: #fff;
  color: #fa3d0e;
  transition: .5s; }

.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #fff;
  color: #fa3d0e; }

.button2:hover {
  background-color: #fa3d0e;
  color: #fff;
  transition: .5s; }

@media screen and (max-width: 530px) {
  .button2 {
    display: none; }
  .span__home {
    display: none; } }

@media screen and (min-width: 930px) {
  .logo {
    margin-left: 50px; }
  nav {
    height: 100px; }
  .bar-btn {
    display: none; }
  .nav-menu {
    position: relative;
    height: 100px;
    top: 0%;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px; }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none; }
  .nav-menu li a {
    font-size: 12px; }
  .banner__text {
    font-size: 70px;
    margin-bottom: 30px; }
  .banner__text {
    font-size: 20px; } }

.iframe {
  display: flex;
  border: 0;
  background-color: black;
  padding-top: 5%;
  padding-right: 400px;
  padding-bottom: 60px;
  padding-left: 400px; }

#footer__home {
  display: inline-flex;
  text-decoration: none; }

@media screen and (max-width: 1100px) {
  .iframe {
    display: none; } }

/*$mapa: (keys: value)*/
