

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.contenedor-textos {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafo-info {
    color: rgb(0, 0, 0);
}


h1 {
    font-size: 40px;
}
.h4-info {
    color: rgb(0, 0, 0);
}






  