

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


#footer__home{

    display: inline-flex;
    text-decoration: none;
}




#info-body {

    background-color: black
}


.anexo {
    margin-left: 30%;
}

#estamosen {
    color: crimson;
    padding-left: 25%;
    background-color: black;


}
.iframe {
    background-color: black;
    padding-top: 5%;
    padding-left: 25%;
    padding-bottom: 60px;
    align-items: center;

}


.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


h1 {
    font-size: 40px;
}
.h4-info {
    color: rgb(0, 0, 0);
}



h1 {
    font-size: 40px;
}

.contenedor-textos {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafo-info {
    color: rgb(0, 0, 0);
}


.boton {
@include boton_box;

}

.boton-app {
    display: none;
    @include boton_box;

}
.boton-appdos {
    display: none;
}

.boton-none {
@include boton_box;
}


.boton-nonedos {
@include boton_box;
}

.container-info>.sidebar-info {
    grid-column: span 2;
}


.container-info>.header-info,
.container-info>.content-info,
.container-info>.sidebar-info,
.container-info>.footer-info,
.container-info>div {
    background: rgb(0, 0, 0);
    padding: 0px;
    border: 1px solid #000;
}

.container-info>.content-info {
    grid-column: span 3;
}

.container-info {
    @include infoo;
  }



  