
body{
  font-family: "montserrat", sans-serif;
  
}

.logo-atrox {
  display: block;
}

.header--descargar__app{
  width: 100%;
  height: 100vh;
  background-image: url(/elementos/fondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.descargar__app__button{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header__contacto{
  width: 100%;
  height: 100vh;
  background-image: url(/elementos/fondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.header__comunidad {
  width: 100%;
  height: 100vh;
  background-image: url(/elementos/fondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .form-check-label{
    display: flex;
    align-items: flex-start;
  }

}

.header__inscribite{
  width: 100%;
  height: 600px;
  background-image: url(/elementos/fondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__info{
  width: 100%;
  height: 600px;
  background-image: url(/elementos/fondonegro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  width: 100%;
  height: 100vh;
  background-image: url(/elementos/bkn2.png);
  background-size: cover;
  background-repeat: no-repeat;

  nav{
    height: 100px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
  
  }

}

  .logo{
    width: 150px;
    margin-left: 20px;
  }
  .bar-btn{
    
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    

  }

  .button__home{
    text-decoration: none;
  }

  .nav-menu{
    
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all 1s;
    
    
  }


  .nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 1s;
    
  }


  .nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }



  .nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(248, 8, 8);
    transition: .3s;
  }


  /*.nav-menu .active, li a{
    color: rgb(248, 8, 8);
    transition: 3s;
  }
  .nav-menu li a:hover{
    color: rgb(248, 8, 8);
    transition: 3s;
  }*/
  


  #check{
    display: none;
  }

  
#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;

}






.banner__text{
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff;
  
}

.banner__text h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.banner__text span{
  color: rgb(248, 8, 8);
}

.banner__text h2 {
font-size: 30px;
font-weight: 600;
}



.button1 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color:rgb(248, 8, 8);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.button1:hover{
  background-color: #fff;
  color: rgb(248, 8, 8);
  transition: .5s;

}

.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color:#fff;
  color: rgb(248, 8, 8);
  border-radius: 5px;
  text-decoration: none;
}
.button2:hover {
  background-color: rgb(248, 8, 8);
  color: #fff;
  transition: .5s;

}


@media screen and  (max-width: 530px){
  .button2 {
    display: none;
  }

  .span__home{
    display: none;
  }
  
}


@media screen and (min-width: 768px){

    .logo{
      margin-left: 50px;
    }

    nav{
      height: 100px;
    }

    .bar-btn{
      display: none;
    }
    .nav-menu{
      position: relative;
      height: 100px;
      top: 0%;
      background: none;
      transition: none;
      text-align: right;
      margin-right: 50px;

    }


    .nav-menu li {
      display: inline-block;
      line-height: 100px;
      margin: 0 20px;
      transition: none;
    }

    .nav-menu li a {
      font-size: 12px;
    }


    .banner__text{
      font-size: 70px;
      margin-bottom: 30px;
    }

    .banner__text{
      font-size: 20px;
    }

}



