
body{
  font-family: "montserrat", sans-serif;
  
}

.logo-atrox {
  display: block;
}

.logo{
  width: 150px;
  margin-left: 20px;
}


.header--descargar__app{
@include box__a;
  background-image: url(../elementos/fondonegro.jpg);


  .descargar__app__button{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

}



.header__contacto{
@include box__a;
  background-image: url(../elementos/fondonegro.jpg);

}


.header__comunidad {
@include box__a
  background-image: url(../elementos/fondonegro.jpg);


  .form-check-label{
    display: flex;
    align-items: flex-start;
  }

}

.header__inscribite{
@include box__b;
  background-image: url(../elementos/fondonegro.jpg);

}

.header__info{
@include box__b;
  background-image: url(../elementos/fondonegro.jpg);

}

header{
@include box__a;
  background-image: url(../elementos/bkn2.png);


}

  nav{
    height: 100px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
  }
  

  h2{
    color: map-get($colores, "atrox" );
  }




  
  
  .bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
  }

  .button__home{
    margin-top: 80px;
    text-decoration: none;
  }

  .nav-menu{
    
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all 1s;
    
    
  }

  .nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 1s;
    
  }

  .nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
  }

  .nav-menu li a.active, .nav-menu li a:hover{
    color: map-get($colores, "atrox" );
    transition: .3s;
  }

/*Home*/
  #check{
    display: none;
  }

  
#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;

}


.banner__text{
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff;
  
}

.banner__text h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.banner__text span{
  color: map-get($colores, "atrox" )
}

.banner__text h2 {
font-size: 30px;
font-weight: 600;
}



.button1 {
@include btn__a
  background-color:rgb(248, 8, 8);
  color: #fff;
}
.button1:hover{
  background-color: #fff;
  color: map-get($colores, "atrox" );
  transition: .5s;

}

.button2 {
@include btn__a;
  background-color:#fff;
  color: map-get($colores, "atrox" );

}
.button2:hover {
  background-color: map-get($colores, "atrox" );
  color: #fff;
  transition: .5s;

}


@media screen and  (max-width: 530px){
  .button2 {
    display: none;
  }

  .span__home{
    display: none;
  }
  
}


@media screen and (min-width: 930px){

    .logo{
      margin-left: 50px;
    }

    nav{
      height: 100px;
    }

    .bar-btn{
      display: none;
    }
    .nav-menu{
      position: relative;
      height: 100px;
      top: 0%;
      background: none;
      transition: none;
      text-align: right;
      margin-right: 50px;

    }

      

    .nav-menu li {
      display: inline-block;
      line-height: 100px;
      margin: 0 20px;
      transition: none;
    }

    .nav-menu li a {
      font-size: 12px;
    }


    .banner__text{
      font-size: 70px;
      margin-bottom: 30px;
    }

    .banner__text{
      font-size: 20px;
    }

}



