@mixin box__a {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

@mixin box__b{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;  
}

@mixin btn__a {
    margin-right: 40px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}