@mixin boton_box {
    width: 150px;
    margin: 0 auto;
    padding: 15px;
    background: map-get($colores, "atrox");
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: -1px 1px 7px 0px rgb(100, 100, 100); 
}

@mixin infoo {
    background-color: map-get($colores, "bkgn" );
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    padding: 20px;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
    
}